# Python template
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
pytest_cache/

# Environments
.env
.envrc
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Editor
.cursorignore
.cursorindexingignore

# Project specific
.data/
/data/
*.db
*.sqlite
